auth
css
build
dist
testing
American Roulette_dealer_multiLine.txt
American TEST_dealer.txt
combinations_230710_213522.txt
Login.py
Login.spec
Loom Message - 11 July 2023.mp4
man.spec
the same number combination.txt
__pycache__
